@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background: $white-text-color;
  color: $primary-text-color;
  font: 12px/1.62 'Montserrat', Arial, Helvetica, sans-serif;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
address,
blockquote,
figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $accent-color;
  text-decoration: none;
  color: currentColor;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;

  @include mq(tablet) {
    padding: 0 32px;
    max-width: 768px;
  }

  @include mq(desktop) {
    padding: 0 16px;
    max-width: 1200px;
  }
}
