.btn {
  display: inline-block;
  color: #000000;
  background-color: $accent-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  padding: 12px 34px;
  min-width: 114px;
  border: 1px solid $accent-color;
  border-radius: 10px;
  box-shadow: $shadow;
  transition: background-color 300ms $timing-function,
    color 300ms $timing-function, border-color 300ms $timing-function;
  @include mq(tablet) {
    min-width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $hover-color;
    border-color: $hover-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
      8px 32px 32px rgba(0, 0, 0, 0.15);

    transform: scale(1.05) translateY(-0.2rem);
  }

  &:focus {
    color: $white-text-color;
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    cursor: default;
    background-color: $gray-text-color;
    border-color: $gray-text-color;
  }
}
