// primary-bg-color - основний колір фону
$primary-bg-color: #84a178;

// колір карточок і бордерів у секціі продукти зелений
$first-cards-color: #aec6a5;

// колір карточок і бордерів у секціі продукти жовтий
$second-cards-color: #efd478;

// колір карточок і бордерів у секціі продукти персиковий
$third-cards-color: #d6936d;

// колір акцентів, кнопок, бордерів кнопок, підложки іконок соцмереж
$accent-color: #f8d24e;

// колір декоративного елементу - кола в секціі продукти, 
// колір круглих елементів в модальних вікнах about product, buy now
$decor-elements-color: #9cbe8f;

// колір ховеру кнопок та лінків
$hover-color: #0a8817;

// колір неактивних кнопок та лінків
$disabled-color: #ababab;

// колір тексту та заголовків у секціях зі світлим фоном (це не повністю чорний)
$primary-text-color: #131313;


// колір тексту та заголовків у секціях з темним фоном (це не повністю білий), колір тексту при фокусі, колір іконок соцмереж при фокусі
$white-text-color: #fcfcfc;

// gray-text-color - колір тексту в секціі контакти
$gray-text-color: #ababab;

// колір копірайту в секціі футер
$copyright-color: #7a7a7a;

// колір тексту при фокусі
$focus-color: #FFFFFF;

// колір бордеру в контактах
$border-color: #e1e1e1;