@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #fcfcfc;
  color: #131313;
  font: 12px/1.62 "Montserrat", Arial, Helvetica, sans-serif;
}

.list-reset, .card {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
address,
blockquote,
figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #f8d24e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 16px;
    max-width: 1200px;
  }
}

.products {
  background: url(../images/bcg/bcg_mob_@1x.png) calc(50% - 40px) -120px/857px 1188px;
  text-align: center;
  padding: 60px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bcg/bcg_mob_@2x.png);
    width: 857px;
    height: 1187px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../images/bcg/bcg_tab_@1x.png);
    background-size: 940px 996px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bcg/bcg_tab_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/bcg/bcg_desk_@1x.png);
    background-size: 1278px 1330px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url(../images/bcg/bcg_desk_@2x.png);
  }
}
.products__label {
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.products__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 1.26;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 120px;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto -60px;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: none;
    flex-direction: row;
    margin: 0 -8px -60px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin: 0 -15px -60px;
  }
}
.card__set {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: #aec6a5;
  padding: 31px 40px 12px;
  margin: 107px 0 60px;
  min-height: 420px;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .card__set {
    padding: 31px 26px 7px;
    margin: 107px 8px 60px;
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .card__set {
    padding: 31px 64px 56px;
    margin: 182px 15px 60px;
    width: calc((100% - 90px) / 3);
    font-size: 16px;
  }
}
.card__set::before {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/products/products1_tab+mob_@1x.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: -138px 0 31px;
  border-radius: 50%;
  box-shadow: 0 16px 0 0 rgba(156, 190, 143, 0.7), 0 16px 0 0 #D9D9D9, 0 16px 20px rgba(10, 136, 23, 0.25);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .card__set::before {
    background-image: url(../images/products/products1_tab+mob_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card__set::before {
    box-shadow: 0 16px 0 0 rgba(156, 190, 143, 0.7), 0 16px 0 0 #D9D9D9, 0 16px 20px rgba(10, 136, 23, 0.25);
    margin: -213px 0 46px;
    width: 302px;
    height: 302px;
    background-image: url(../images/products/products1_desk_@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .card__set::before {
    background-image: url(../images/products/products1_desk_@2x.png);
  }
}
.card__set--second {
  background: #efd478;
}
.card__set--second::before {
  background-image: url(../images/products/products2_tab+mob_@1x.png);
  box-shadow: 0 16px 0 0 rgba(248, 210, 78, 0.7), 0 16px 0 0 #D9D9D9, 0 16px 20px rgba(153, 114, 23, 0.25);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .card__set--second::before {
    background-image: url(../images/products/products2_tab+mob_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card__set--second::before {
    background-image: url(../images/products/products2_desk_@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .card__set--second::before {
    background-image: url(../images/products/products2_desk_@2x.png);
  }
}
.card__set--third {
  background: #d6936d;
}
.card__set--third::before {
  background-image: url(../images/products/products3_tab+mob_@1x.png);
  box-shadow: 0 16px 0 0 rgba(213, 117, 63, 0.7), 0 16px 0 0 #D9D9D9, 0 16px 20px rgba(0, 0, 0, 0.25);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .card__set--third::before {
    background-image: url(../images/products/products3_tab+mob_@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .card__set--third::before {
    background-image: url(../images/products/products3_desk_@1x.png);
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .card__set--third::before {
    background-image: url(../images/products/products3_desk_@2x.png);
  }
}
.card__title {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .card__title {
    margin: 0 0 66px;
    font-size: 30px;
  }
}
.card__text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card__text {
    margin-bottom: 49px;
  }
}

.more {
  margin-top: auto;
  fill: #131313;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1), scale 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.more:hover, .more:focus {
  fill: #fcfcfc;
  -webkit-animation: move 1.5s infinite;
          animation: move 1.5s infinite;
}

@-webkit-keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
.advantages {
  padding-top: 0;
  padding-bottom: 32px;
  background-color: #84A178;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__indi {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.advantages__indi::before {
  margin-bottom: 16px;
}

.advantages__indi--cow::before {
  content: "";
  transform: translateX(4px);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f8d24e;
  background-image: url(/src/images/advantages/cow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__indi--weight::before {
  content: "";
  transform: translateX(23px);
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f8d24e;
  background-image: url(/src/images/advantages/weight.png);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__indi--cream::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #f8d24e;
  background-image: url(/src/images/advantages/ice-crema.png);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__text {
  margin-top: 22px;
  width: 230px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #FCFCFC;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
li,
p,
h2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
}

address {
  font-style: normal;
}

.contact {
  background-color: #84a178;
  font-weight: 500;
  font-size: 12px;
}

.contact__lists {
  margin-bottom: 22px;
}

.contact__items {
  display: block;
  width: 280px;
  height: 412px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 42px 32px 22px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contact__items:not(:last-child) {
  margin-bottom: 16px;
}

.contast__representation {
  display: inline-block;
  border-radius: 4px;
  background-color: #f8d24e;
  padding: 4px 22px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}

.contact__wrapper {
  padding-bottom: 23px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 23px;
}

.contact__branch {
  line-height: 1.86;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.contact__location {
  display: block;
  width: 220px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #d6936d;
}

.contact__days {
  line-height: 1.86;
}

.contact__time {
  line-height: 1.86;
  color: #ababab;
}

.contact__schedule {
  margin-bottom: 8px;
}

.contact__item:not(:last-child) {
  margin-bottom: 6px;
}

.contact__link {
  line-height: 1.6;
}

.contact__map {
  width: 196px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  text-align: center;
  color: inherit;
  background-color: #f8d24e;
  border-radius: 10px;
  border: none;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.contact__map:hover {
  background-color: #0a8817;
}

.contact__map:focus {
  background-color: #0a8817;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .contact {
    font-size: 14px;
  }
  .contact__lists {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }
  .contact__items {
    width: 224px;
    height: 537px;
    padding: 40px 24px 40px 24px;
    margin: 0;
  }
  .contact__items:not(:last-child) {
    margin-bottom: 0;
  }
  .contast__representation {
    padding: 4px 13px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 36px;
  }
  .contact__location {
    width: 170px;
  }
  .contact__wrapper {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .contact__branch {
    margin-bottom: 12px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 4px;
  }
  .contact__link {
    line-height: 1.5;
  }
  .contact__buttons {
    display: flex;
    justify-content: center;
  }
  .contact__map {
    margin-left: 0;
    margin-right: 16px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 16px;
  }
  .contact__lists {
    gap: 32px;
    margin-bottom: 60px;
  }
  .contact__items {
    width: 368px;
    height: 542px;
    padding: 40px 40px 40px 40px;
  }
  .contast__representation {
    padding: 4px 14px;
  }
  .contact__location {
    width: 290px;
  }
  .contact__location:hover, .contact__location:focus, .contact__link:hover, .contact__link:focus {
    text-decoration: underline;
  }
  .contact__branch {
    margin-bottom: 8px;
  }
  .contact__schedule {
    margin-bottom: 12px;
  }
  .contact__buttons {
    display: flex;
  }
  .contact__map {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.footer {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 120px;
  }
}

.footer-title {
  color: #fcfcfc;
  padding-left: 2px;
  max-width: 232px;
}
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    max-width: 510px;
  }
}

.footer-subject {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  margin-top: 16px;
  max-width: 200px;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-subject {
    margin-top: 8px;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subject {
    margin-top: 14px;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    max-width: 510px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .thumb--contact {
    display: inline-block;
    float: right;
  }
}

.join-social {
  display: flex;
  justify-content: right;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .join-social {
    margin-top: 18px;
  }
}

.icon-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .icon-list {
    gap: 30px;
  }
}

.footer-contact {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    margin-top: 34px;
  }
}
.footer-contact__text {
  font-weight: 700;
  margin-right: 4px;
}
@media screen and (min-width: 1200px) {
  .footer-contact__text {
    font-size: 16px;
  }
}
.footer-contact__tel {
  font-weight: 700;
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .footer-contact__tel {
    font-size: 16px;
  }
}

.footer-line {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100vw;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .footer-line {
    margin-top: 32px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-line {
    margin-top: 60px;
  }
}

.footer-rights {
  font-size: 14px;
  color: #7a7a7a;
  max-width: 150px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .footer-rights {
    max-width: 298px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-rights {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */