<section class="section about">
      <div class="about-container container">
        <p class="about-label">tradition and love</p>
        <h2 class="about-titel">how it’s made?</h2>
        <div class="about-content">
          <div class="image-box"> 
       <!-- <picture>
<source media="(min-width: 480px)" srcset="./images/cow/cow_mob_1x.png 1x, ./images/cow/cow_mob_2x.png 2x" type="image/png"/>
<source media="(min-width: 728px)" srcset="./images/cow/cow_tab_1x.png 1x, ./images/cow/cow_tab_2x.png 2x" type="image/png" />
<source media="(min-width: 1200px)" srcset="./images/cow/cow_desk_1x.png 1x, ./images/cow/cow_desk_2x.png 2x" type="image/png" />

                <img clss="about-img"
                  src="./images/cow/cow_mob_1x.png"
                  alt="cow in the field"
                  width="297"
                  height="298"
                />
              </picture> -->

         </div> 
      
          <div class="about__description">
            <p class="about__text">
              Ice is a place where you will become not only a little happier, but also healthier. Health is the main
              value for us, and we follow it when creating our handmade desserts.
              <br />We use traditional recipes and 100% natural ingredients. Our products are so natural that they can
              be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types
              of coffee and 23 milkshakes. <br> This is enough to choose ice cream and 
coffee for any mood!

            </p>
             <button type="button" class="about__button button">
              Read more
              <!-- <svg class="button-icon" width="6" height="10">
                <use href="./images/symbol-defs.svg#icon-small-arrow"></use>
              </svg> -->
            </button>
          </div>
        </div>
      </div>
    </section>