<div class="backdrop is-hidden" data-modal id="modal-buy">
    <div class="modal modal-buy__window">
        <button type="button" class="modal__close" data-modal-close>
            <svg width="11" height="11">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal__title">Buy now</h2>

        <form name="modal-buy" class="modal-buy__form">
            <div class="modal-buy__products">
                <label for="icecream" class="modal-buy__label">
                    <input type="checkbox" id="icecream" value="agree" name="icecream" class="modal-buy__checkbox">

                    <div class="modal-buy__item">
                        <div class="modal-buy__ellipse">
                        </div>
                        <div class="modal-buy__png">
                            <img srcset="./images/bay_now_modal/buy_now1_mob_@1.png 132w,
                        ./images/bay_now_modal/buy_now1_mob_@2.png 264w"
                                src="./images/bay_now_modal/buy_now1_mob_@1.png" alt="icecream" width="132px">
                        </div>
                        <h4 class="modal-buy__product">ICE CREAM</h4>
                    </div>
                </label>
                <label for="icecoffee" class="modal-buy__label">
                    <input type="checkbox" id="icecoffee" value="agree" name="icecoffee" class="modal-buy__checkbox">

                    <div class="modal-buy__item  modal-buy__item--coffee">
                        <div class="modal-buy__ellipse modal-buy__ellipse--coffee">
                        </div>
                        <div class="modal-buy__png">
                            <img srcset="./images/bay_now_modal/buy_now2_mob_@1.png 132w,
                        ./images/bay_now_modal/buy_now2_mob_@2.png 264w"
                                src="./images/bay_now_modal/buy_now2_mob_@1.png" alt="icekoffee" width="132px">
                        </div>
                        <h4 class="modal-buy__product">ICE COFFEE</h4>
                    </div>
                </label>
                <label for="milkshake" class="modal-buy__label">
                    <input type="checkbox" id="milkshake" value="agree" name="milkshake" class="modal-buy__checkbox">

                    <div class="modal-buy__item modal-buy__item--milkshake">
                        <div class="modal-buy__ellipse modal-buy__ellipse--milkshake">
                        </div>
                        <div class="modal-buy__png">
                            <img srcset="./images/bay_now_modal/buy_now3_mob_@1.png 132w,
                        ./images/bay_now_modal/buy_now3_mob_@2.png 264w"
                                src="./images/bay_now_modal/buy_now3_mob_@1.png" alt="milkshake" width="132px">
                        </div>
                        <h4 class="modal-buy__product">MILKSHAKE</h4>
                    </div>
                </label>
            </div>

            <form class="form modal-buy__userarea">
                <fieldset class="form__field">
                    <div class="form__group">
                        <input class="form__input" name="user-name" type="text" placeholder="Name"
                            class="modal-buy__input" title="Enter your name" pattern="[A-Za-z]+" required />
                    </div>
                    <div class="form__group">
                        <input class="form__input" name="user-tel" type="tel" placeholder="Phone"
                            class="modal-buy__input" title="for example: 0961234567" pattern="[0-9]{10}" required />
                    </div>
                    <div class="form__group">
                        <textarea class="form__coment" name="coment" cols="30" rows="10" placeholder="Comment"
                            minlength="12"></textarea>
                        </dsv>
                </fieldset>
                <button type="submit" class="btn form__button">Submit</button>
            </form>
        </form>
    </div>
</div>