<!-- CONTACTS -->
<section class="contact">
  <div class="container contact__container">
    <h2 class="visually-hidden">Contact</h2>
    <address class="contact__adress">
      <ul class="contact__lists" id="contacts">
        <li class="contact__items">
          <p class="contact__representation">CAFE</p>
          <div class="contact__wrapper">
            <p class="contact__branch">Chicago</p>
            <a
              class="contact__location"
              href="https://goo.gl/maps/2PxyHmhXL3u7jAEo7"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </div>
          <ul class="contact__wrapper">
            <li class="contact__schedule">
              <p class="contact__days">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__weekand">
              <p class="contact__days">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contact__items">
          <p class="contact__representation">FOODTRUCK</p>
          <div class="contact__wrapper">
            <p class="contact__branch">Los Angeles</p>
            <a
              class="contact__location"
              href="https://goo.gl/maps/sgBhDci8XjM5CzaZ6"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </div>
          <ul class="contact__wrapper">
            <li class="contact__schedule">
              <p class="contact__days">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__weekand">
              <p class="contact__days">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contact__items">
          <p class="contact__representation">CAFE</p>
          <div class="contact__wrapper">
            <p class="contact__branch">New York</p>
            <a
              class="contact__location"
              href="https://goo.gl/maps/xdVXhJScDsbo2qYx7"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </div>
          <ul class="contact__wrapper">
            <li class="contact__schedule">
              <p class="contact__days">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contact__weekand">
              <p class="contact__days">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </address>
    <div class="contact__buttons">
      <button
        type="button"
        class="contact__map btn"
        data-modal-open="location-modal"
      >
        Our Locations<svg class="contact__icon" width="12" height="12">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button
        type="button"
        class="contact__franchise btn"
        data-modal-open="franchise-modal"
      >
        Franchise<svg class="contact__icon" width="12" height="12">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
