<section class="customer-reviews">
  <div class="container">
    <div class="gallery" id="gallery">
      <div class="gallery__wrap">
        <img
          class="gallery__image"
          srcset="
            /src/images/gallery/gallery1_mob_@1x.jpg   280w,
            /src/images/gallery/gallery1_mob_@2x.jpg   560w,
            /src/images/gallery/gallery1_tab_@1x.jpg   704w,
            /src/images/gallery/gallery1_tab_@2x.jpg  1408w,
            /src/images/gallery/gallery1_desk_@1x.jpg 1013w,
            /src/images/gallery/gallery1_desk_@2x.jpg 2026w
          "
          sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 320px) 280px, 100vw"
          src="/src/images/gallery/gallery1_tab_@1x.jpg"
          width="704"
          alt="Photo ice cream 1"
          loading="lazy"
        />
      </div>
    </div>
    <h2 class="visually-hidden">Customer rewiews</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            class="customer-reviews__img img"
            srcset="
              ./images/client/client1_@1x.png 1x,
              ./images/client/client1_@2x.png 2x
            "
            src="./images/client/client1_@1x.png"
            alt="photo of Emily"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
        </div>
        <div class="swiper-slide">
          <img
            class="customer-reviews__img img"
            srcset="
              ./images/client/client2_@1x.png 1x,
              ./images/client/client2_@2x.png 2x
            "
            src="./images/client/client2_@1x.png"
            alt="photo of Bryan"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <h3 class="customer-reviews__name">Bryan, New-York</h3>
        </div>
        <div class="swiper-slide">
          <img
            class="customer-reviews__img img"
            srcset="
              ./images/client/client3_@1x.png 1x,
              ./images/client/client3_@2x.png 2x
            "
            src="./images/client/client3_@1x.png"
            alt="photo of Emily"
            width="85"
            height="85"
            loading="lazy"
          />
          <div class="customer-reviews__wrap">
            <p class="customer-reviews__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <h3 class="customer-reviews__name">Diana, Chicago</h3>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-dots"></div>
    </div>
  </div>
</section>
