<footer class="footer">
  <div class="container container--footer">
    <div class="thumb">
      <p class="footer__title">HOMEMADE ICE CREAM MADE</p>
      <p class="footer__subject">WITH PASSION</p>
    </div>
    <div class="thumb--contact">
      <div class="join">
        <ul class="join__list">
          <li class="join__item">
            <a
              class="join__link"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join__icon" width="34" height="34">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>

          <li class="join__item">
            <a
              class="join__link"
              href="https://telegram.org/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join__icon" width="34" height="34">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="join__item">
            <a
              class="join__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="join__icon" width="34" height="34">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <p class="footer-contact__text">Feel free to contact</p>
        <a class="footer-contact__tel" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>

    <div class="footer__branch">
      <img class="footer__branch-img" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
      <img class="footer__branch-img--second" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
      <img class="footer__branch-img--third" src="/src/images/header-hero/branch.png" alt="Christmas tree branch">
    </div>
    
    <hr class="footer__line" />
    <h4 class="footer__rights">&#169; 2022 - IceCream. All Rights Reserved.</h4>
  </div>
  
</footer>
