<!-- Slider main container -->
<ul class="gallery">
        <!-- Slides -->
        <li class="gallery__item">
            <img class="gallery__image" srcset="
                /src/images/gallery/gallery1_mob_@1x.jpg 420w,
                /src/images/gallery/gallery1_mob_@2x.jpg 560w,
                /src/images/gallery/gallery1_tab_@1x.jpg 704w,
                /src/images/gallery/gallery1_tab_@2x.jpg 840w,
                /src/images/gallery/gallery1_desk_@1x.jpg 1013w,
                /src/images/gallery/gallery1_desk_@2x.jpg 2026w"

                sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 420px, 100vw"
                src="/src/images/gallery/gallery1_tab_@1x.jpg" alt="Photo ice cream 1" loading="lazy" />
        </li>
        <li class="gallery__item">
             <img class="gallery__image" srcset="
                /src/images/gallery/gallery2_desk_@1x.jpg 1013w,
                /src/images/gallery/gallery2_desk_@1x.jpg 2026w"

                src="/src/images/gallery/gallery2_desk_@1x.jpg" alt="Photo ice cream 2" loading="lazy" />
        </li>
        <li class="gallery__item">Slide 3</li>
        
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
    </ul>