<div class="gallery">
    <div class="gallery__wrap">
        <img class="gallery__image" srcset="
                    /src/images/gallery/gallery1_mob_@1x.jpg 280w,
                    /src/images/gallery/gallery1_mob_@2x.jpg 560w,
                    /src/images/gallery/gallery1_tab_@1x.jpg 704w,
                    /src/images/gallery/gallery1_tab_@2x.jpg 1408w"
            
            sizes="(min-width: 768px) 704px, (min-width: 320px) 280px, 100vw" src="/src/images/gallery/gallery1_tab_@1x.jpg"
            width="704" alt="Photo ice cream 1" loading="lazy" />
    </div>
  </div>