
<div class="hero-header">
    <section class="hero hero-header__hero">
        <div class="container hero__container">
          <div class="hero__description">
            <h1 class="hero__header">ice cream made with <span>passion</span></h1>
            <div class="hero__buttons">
              <a href="#" class="hero__products-btn">Products</a>
              <a href="#" class="hero__question-btn">How it’s made?</a>
            </div>
            <div class="hero__invite invite">
              <picture class="invite__bowl-img">
                <source
                  media="(min-width: 1200px)"
                  srcset="/src/images/header-hero/ice_cream1_desk_@1x.png 1x, /src/images/header-hero/ice_cream1_desk_@2x.png 2x"
                  type="image/png"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="/src/images/header-hero/ice_cream1_tab_@1x.png 1x, /src/images/header-hero/ice_cream1_tab_@2x.png 2x"
                  type="image/png"
                />
                <img src="/src/images/header-hero/ice_cream1_tab_@1x.png" alt="bowl of ice cream" loading="lazy" />
              </picture>
              <div class="invite__description">
                <p class="invite__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et
                </p>
                <a class="invite__arrow arrow ">
                  <svg width="40" height="16">
                  <use href="/src/images/sprite.svg#arrow"></use>
                </svg>
              </a>
              </div>
            </div>
          </div>
          <ul class="hero__numbers list">
            <li class="hero__item">
              <p class="hero__number"><span>16</span><br />cafes</p>
            </li>
            <li class="hero__item">
              <p class="hero__number"><span>23</span><br />food trucks</p>
            </li>
          </ul>
          <picture class="hero__cone-img">
            <source
              media="(min-width: 1200px)"
              srcset="/src/images/header-hero/ice_cream2_desk_@1x.png 1x, /src/images/header-hero/ice_cream2_desk_@2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/src/images/header-hero/ice_cream2_tab_@1x.png 1x, /src/images/header-hero/ice_cream2_tab_@2x.png 2x"
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/src/images/header-hero/ice_cream2_mob_@1x.png 1x, /src/images/header-hero/ice_cream2_mob_@2x.png 2x"
              type="image/png"
            />
            <img src="/src/images/header-hero/ice_cream2_mob_@1x.png" alt="Cone of ice cream" loading="lazy" />
          </picture>
          <!-- <picture class="hero__dots-img">
            <source
              media="(min-width: 1200px)"
              srcset="/src/images/sprite.svg#balloons_desk"
              type="image/svg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/src/images/sprite.svg#balloons_tab"
              type="image/svg"
            />
            <source
              media="(max-width: 767px)"
              srcset="/src/images/sprite.svg#balloons_mob"
              type="image/svg"
            />
            <img src="/src/images/sprite.svg#balloons_mob" alt="Yellow decor dots"/>
          </picture> -->
        </div>
      </section>
</div>