<div class="hero-header">
  <header class="header" id="home">
    <div class="container header__container">
      <a href="/" id="Home">
        <picture class="header__logo">
          <source
            media="(min-width: 1200px)"
            srcset="
              /src/images/header-hero/logo-lg@1x.png 1x,
              /src/images/header-hero/logo-lg@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /src/images/header-hero/logo-md@1x.png 1x,
              /src/images/header-hero/logo-md@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /src/images/header-hero/logo-sm@1x.png 1x,
              /src/images/header-hero/logo-sm@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="/src/images/header-hero/logo-sm@1x.png"
            alt="Site logo"
            loading="lazy"
          />
        </picture>
      </a>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link" href="#home">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#about">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#products">Our products</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <ul class="main-buttons">
        <li class="main-buttons__item">
          <button
            class="main-buttons__burger js-open-menu"
            type="button"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="main-buttons__icon" width="32" height="32">
              <use href="/src/images/sprite.svg#burger"></use>
            </svg>
          </button>
        </li>
        <li class="main-buttons__item">
          <button
            class="main-buttons__buy main-buttons__buy--header btn"
            type="button"
            data-modal-open="modal-buy"
          >
            Buy now
            <svg class="main-buttons__arrow-icon" width="12" height="12">
              <use href="/src/images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </header>

  <!-- Mobile menu -->
  <div class="mobile-menu__container js-menu-container" id="mobile-menu">
    <picture class="mobile-menu__logo">
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/header-hero/logo-md@1x.png 1x,
          /src/images/header-hero/logo-md@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /src/images/header-hero/logo-sm@1x.png 1x,
          /src/images/header-hero/logo-sm@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="/src/images/header-hero/logo-sm@1x.png"
        alt="Site logo"
        loading="lazy"
      />
    </picture>

    <button class="mobile-menu__toggle js-close-menu">
      <svg width="32" height="32">
        <use href="/src/images/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#home" class="mobile-nav__link">Home</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#about" class="mobile-nav__link">How it’s made?</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#products" class="mobile-nav__link">Our products</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#contacts" class="mobile-nav__link">Contact</a>
      </li>
    </ul>
    <div class="mobile-menu__btn">
      <button
        class="main-buttons__buy main-buttons__buy--modal btn"
        data-modal-open="modal-buy"
        type="button"
      >
        Buy now
        <svg class="main-buttons__arrow-icon" width="12" height="12">
          <use href="/src/images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <section class="hero">
    <div class="container hero__container">
      <div class="hero__description">
        <h1 class="hero__header">
          ice cream made with <span class="hero__header--big">passion</span>
        </h1>
        <div class="hero__buttons">
          <a href="#products" class="hero__products-btn">Products</a>
          <a href="#about" class="hero__question-btn">How it’s made?</a>
        </div>
        <div class="hero__invite invite">
          <picture class="invite__bowl-img">
            <source
              media="(min-width: 1200px)"
              srcset="
                /src/images/header-hero/ice_cream1_desk_@1x.png 1x,
                /src/images/header-hero/ice_cream1_desk_@2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /src/images/header-hero/ice_cream1_tab_@1x.png 1x,
                /src/images/header-hero/ice_cream1_tab_@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="/src/images/header-hero/ice_cream1_tab_@1x.png"
              alt="bowl of ice cream"
              loading="lazy"
            />
          </picture>
          <div class="invite__description">
            <p class="invite__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a class="invite__arrow arrow" href="#gallery">
              <svg width="40" height="16">
                <use href="/src/images/sprite.svg#arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <ul class="numbers list">
        <li class="numbers__item">
          <p class="numbers__description">
            <span class="numbers__description--accent" id="first-number"
              >16</span
            ><br />cafes
          </p>
        </li>
        <li class="numbers__item">
          <p class="numbers__description">
            <span class="numbers__description--accent" id="second-number"
              >23</span
            ><br />food trucks
          </p>
        </li>
      </ul>
      <picture class="hero__cone-img">
        <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/header-hero/ice_cream2_desk_@1x.png 1x,
            /src/images/header-hero/ice_cream2_desk_@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/header-hero/ice_cream2_tab_@1x.png 1x,
            /src/images/header-hero/ice_cream2_tab_@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /src/images/header-hero/ice_cream2_mob_@1x.png 1x,
            /src/images/header-hero/ice_cream2_mob_@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="/src/images/header-hero/ice_cream2_mob_@1x.png"
          alt="Cone of ice cream"
          loading="lazy"
        />
      </picture>
      <picture class="hero__dots-img">
        <source
          media="(min-width: 1200px)"
          srcset="
            /src/images/header-hero/dots-lg@1x.png 1x,
            /src/images/header-hero/dots-lg@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /src/images/header-hero/dots-md@1x.png 1x,
            /src/images/header-hero/dots-md@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /src/images/header-hero/dots-sm@1x.png 1x,
            /src/images/header-hero/dots-sm@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="/src/images/header-hero/dots-sm@1x.png"
          alt="Yellow decor dots"
        />
      </picture>
      <img class="hero__hat-img" src="/src/images/header-hero/hat.png" alt="Christmas hat">
      <img class="hero__snow-img--top" src="/src/images/header-hero/snow.png" alt="Snow">
      <img class="hero__snow-img--bottom" src="/src/images/header-hero/snow.png" alt="Snow">  
    </div>
  </section>
</div>
