<div class="backdrop is-hidden" data-modal id="product-icecream">
    <div class="product-modal modal">
        <button class="product-modal__close" data-modal-close>
            <svg class="product-modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="product-modal__title">Chololate icecream</h3>
        <img class="product-modal__img" src="./images/Chocolatea_ice_cream_modal/chololate_ice_cream_mob_@1.png"
            alt="chocololatea_ice_cream">
        <ul class="composition">
            <li class="composition__item">
                <span class="composition__value">320</span>kcal
            </li>
            <li class="composition__item">
                <span class="composition__value">4g</span>Prote...
            </li>
            <li class="composition__item">
                <span class="composition__value">8,2g</span>Fats
            </li>
            <li class="composition__item">
                <span class="composition__value">40,4g</span>Carbs
            </li>
        </ul>
        <h4 class="product-modal__subtitle">Ingredients</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Milk</dt>
            <dd class="ingredients__value">100ml</dd>
            <dt class="ingredients__compound">Belgian chocolate</dt>
            <dd class="ingredients__value">20g</dd>
            <dt class="ingredients__compound">Cream</dt>
            <dd class="ingredients__value">150 ml</dd>
            <dt class="ingredients__compound">Cocoa powder</dt>
            <dd class="ingredients__value">30g</dd>
            <dt class="ingredients__compound">Sugar</dt>
            <dd class="ingredients__value">40g</dd>
            <dt class="ingredients__compound">Vanilla sugar</dt>
            <dd class="ingredients__value">10g</dd>
        </dl>

        <form class="product-form">
            <div class="product-form__group">
                <input class="product-form__input" type="text" name="user-name" placeholder="Name">
            </div>
            <div class="product-form__group">
                <input class="product-form__input" type="tel" name="tel" placeholder="Phone">
            </div>
            <div class="product-form__group">
                <textarea class="product-form__coment" name="coment" rows="3" placeholder="Comment"></textarea>
            </div>
            <button class="btn product-form__button" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-icecoffee">
    <div class="product-modal">
        <button class="product-modal__close" data-modal-close>
            <svg class="product-modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="product-modal__title">Chololate icecream</h3>
        <img class="product-modal__img product-modal__img--yellow"
            src="./images/Chocolatea_ice_cream_modal/chololate_ice_cream_mob_@1.png" alt="chocololatea_ice_cream">
        <ul class="composition composition--yellow">
            <li class="composition__item">
                <span class="composition__value">320</span>kcal
            </li>
            <li class="composition__item">
                <span class="composition__value">4g</span>Prote...
            </li>
            <li class="composition__item">
                <span class="composition__value">8,2g</span>Fats
            </li>
            <li class="composition__item">
                <span class="composition__value">40,4g</span>Carbs
            </li>
        </ul>
        <h4 class="product-modal-subtitle">Ingredients</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Milk</dt>
            <dd class="ingredients__value">100ml</dd>
            <dt class="ingredients__compound">Belgian chocolate</dt>
            <dd class="ingredients__value">20g</dd>
            <dt class="ingredients__compound">Cream</dt>
            <dd class="ingredients__value">150 ml</dd>
            <dt class="ingredients__compound">Cocoa powder</dt>
            <dd class="ingredients__value">30g</dd>
            <dt class="ingredients__compound">Sugar</dt>
            <dd class="ingredients__value">40g</dd>
            <dt class="ingredients__compound">Vanilla sugar</dt>
            <dd class="ingredients__value">10g</dd>
        </dl>

        <form class="product-form">
            <div class="product-form__group">
                <input class="product-form__input" type="text" name="user-name" placeholder="Name">
            </div>
            <div class="product-form__group">
                <input class="product-form__input" type="tel" name="tel" placeholder="Phone">
            </div>
            <div class="product-form__group">
                <textarea class="product-form__coment" name="coment" rows="3" placeholder="Comment"></textarea>
            </div>
            <button class="btn product-form__button" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="backdrop is-hidden" data-modal id="product-milkshakes">
    <div class="product-modal">
        <button class="product-modal__close" data-modal-close>
            <svg class="product-modal__close-icon">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h3 class="product-modal__title">Chololate milkshakes</h3>
        <img class="product-modal__img" src="./images/Chocolatea_ice_cream_modal/chololate_ice_cream_mob_@1.png"
            alt="chocololatea_ice_cream">
        <ul class="composition composition--yellow">
            <li class="composition__item">
                <span class="composition__value">320</span>kcal
            </li>
            <li class="composition__item">
                <span class="composition__value">4g</span>Prote...
            </li>
            <li class="composition__item">
                <span class="composition__value">8,2g</span>Fats
            </li>
            <li class="composition__item">
                <span class="composition__value">40,4g</span>Carbs
            </li>
        </ul>
        <h4 class="product-modal-subtitle">Ingredients</h4>
        <dl class="ingredients">
            <dt class="ingredients__compound">Milk</dt>
            <dd class="ingredients__value">100ml</dd>
            <dt class="ingredients__compound">Belgian chocolate</dt>
            <dd class="ingredients__value">20g</dd>
            <dt class="ingredients__compound">Cream</dt>
            <dd class="ingredients__value">150 ml</dd>
            <dt class="ingredients__compound">Cocoa powder</dt>
            <dd class="ingredients__value">30g</dd>
            <dt class="ingredients__compound">Sugar</dt>
            <dd class="ingredients__value">40g</dd>
            <dt class="ingredients__compound">Vanilla sugar</dt>
            <dd class="ingredients__value">10g</dd>
        </dl>

        <form class="product-form">
            <div class="product-form__group">
                <input class="product-form__input" type="text" name="user-name" placeholder="Name">
            </div>
            <div class="product-form__group">
                <input class="product-form__input" type="tel" name="tel" placeholder="Phone">
            </div>
            <div class="product-form__group">
                <textarea class="product-form__coment" name="coment" rows="3" placeholder="Comment"></textarea>
            </div>
            <button class="btn product-form__button" type="submit">Submit</button>
        </form>
    </div>
</div>