<div class="about__backdrop is-hidden" data-modal id="about-modal">
  <div class="modal about__modal">
    <button type="button" class="about__close-button" data-modal-close>
      <svg class="about__close" width="11" height="11">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h3 class="about__title">How it&#39;s made?</h3>
    <div class="about__wrapper">
      <iframe
        src="https://www.youtube.com/embed/7gJIyHnD710"
        width="448"
        height="260"
        loading="lazy"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="location__map"
      ></iframe>
    </div>
    <p class="about__subject">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
