.modal-buy {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(132, 161, 120, 0.9);
  text-align: center;
  opacity: 1;
  z-index: 10;
  overflow: scroll;
  transition: opacity 300ms $timing-function, opacity 300ms $timing-function;

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: $white-text-color;
    cursor: pointer;
    transition: fill 250ms $timing-function;
    &:hover,
    &:focus {
      fill: $hover-color;
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  &__products:not(:first-child) {
    @include mq(tablet) {
      margin-left: 48px;
    }
  }

  &__checkbox {
    display: none;
    position: absolute;
    cursor: pointer;
  }

  &__item {
    display: block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    height: 135px;
    border: 2px solid #96af8c;
    border-radius: 10px 10px 15px 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms $timing-function;

    &--coffee {
      border-color: $second-cards-color;
    }

    &--milkshake {
      border-color: $third-cards-color;
    }

    @include mq(tablet) {
      margin-right: 32px;
    }
  }

  &__ellipse {
    display: block;
    margin-top: -50%;
    margin-left: -1px;
    width: 130px;
    height: 130px;
    background-color: $decor-elements-color;
    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

    &--coffee {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &--milkshake {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
  }

  &__png {
    display: block;
    margin-top: -134px;
  }

  &__product {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    padding-top: 35px;
  }

  &__label {
    display: block;
    width: 132px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    &:nth-child(even) {
      margin-bottom: 32px;
    }

    @include mq(tablet) {
      display: inline-block;
      margin-top: 0;
    }
  }

  &__label:not(:last-child) {
    @include mq(tablet) {
      margin-right: 20px;
    }
  }

  &__userarea {
    width: 224px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
      width: 368px;
      margin-top: 10px;
    }
  }

  &__about {
    display: block;
    margin-bottom: 12px;
  }

  &__input {
    width: 100%;
    height: 30px;
    font-family: 'Montserrat';
    padding-left: 12px;
    outline: none;
    border: 1px solid $primary-bg-color;
    border-radius: 10px;
    background-color: rgba(248, 210, 78, 0.1);
    transition: background-color 250ms $timing-function;
    &::placeholder {
      color: black;
      font-size: 12px;
      line-height: 140%;

      @include mq(tablet) {
        font-size: 14px;
      }
    }

    &:hover,
    &:focus {
      background: rgba(10, 136, 23, 0.1);
    }

    &:invalid.modal-buy__input:focus {
      background: rgba(255, 0, 0, 0.1);
    }
    @include mq(tablet) {
      width: 358px;
      height: 40px;
    }

    &--comment {
      padding-top: 7px;
      resize: none;
      height: 65px;

      @include mq(tablet) {
        height: 84px;
      }
    }
  }
}

.modal-buy__checkbox:checked + .modal-buy__item {
  background-color: #96af8c;
}

.modal-buy__checkbox:checked + .modal-buy__item--coffee {
  background-color: $second-cards-color;
}

.modal-buy__checkbox:checked + .modal-buy__item--milkshake {
  background-color: $third-cards-color;
}

.order-button {
  display: block;
  margin: 26px auto 0 auto;
}
