.location-modal {
  text-align: center;

  &__map {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    @include mq($tablet) {
      height: 260px;
    }
  }

  &__btn {
    min-width: 134px;
    @include mq(tablet) {
      min-width: 145px;
    }
  }
}