// BACKDROP

.location__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(132, 161, 120, 0.9);
  overflow-y: scroll;
  text-align: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 300ms $timing-function, visibility 300ms $timing-function;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    .location__modal {
      transform: scale(0);
    }
  }
}

// Modal

.location {
  &__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 365px;
    padding: 28px;
    background: $white-text-color;
    border: 2px solid $accent-color;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms $timing-function;
    @include mq(tablet) {
      width: 568px;
      height: 458px;
      padding: 32px 60px;
    }
  }

  &__close-button {
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    background: $white-text-color;
    transition: fill 300ms $timing-function;
    &:hover,
    &:focus {
      fill: $hover-color;
    }
  }

  &__title {
    font-family: $secondary-fon;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $primary-text-color;
    margin-bottom: 20px;
    @include mq(tablet) {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 224px;
    max-height: 199px;
    margin-bottom: 24px;
    @include mq(tablet) {
      max-width: 448px;
      max-height: 260px;
      margin-bottom: 32px;
    }
  }

  &__map {
    max-width: inherit;
    max-height: inherit;
    border: none;
  }

  &__btn {
    display: block;
    min-width: 134px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-family: $main-fon;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: $primary-text-color;
    &:hover {
      background-color: $primary-bg-color;
    }
    &:focus {
      background-color: $primary-bg-color;
      color: $focus-color;
    }
    @include mq(tablet) {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: inherit;
    }
    &:focus {
      text-decoration: none;
      background-color: inherit;
      color: $focus-color;
    }
  }
}
