.advantages {
  padding-top: 0;
  padding-bottom: 64px;
  background-color: $primary-bg-color;
  @include mq(tablet) {
    padding-bottom: 204px;
  }
  @include mq(desktop) {
    padding-bottom: 178px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    @include mq(tablet) {
      flex-direction: row;
      justify-content: center;
      gap: 80px;
    }
    @include mq(desktop) {
      gap: 125px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__indi {
    font-family: $main-fon;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    letter-spacing: 0.04em;

    color: $white-text-color;
    @include mq(tablet) {
      text-transform: lowercase;
      font-size: 48px;
      line-height: calc(59 / 48);
    }
    @include mq(desktop) {
      font-size: 58px;
      line-height: calc(71 / 58);
    }

    &::before {
      margin-bottom: 16px;
      @include mq(tablet) {
        margin-bottom: 32px;
      }
      @include mq(desktop) {
        margin-bottom: 40px;
      }
    }
  }

  &__indi--cow::before {
    content: '';
    transform: translateX(4px);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    background-color: $accent-color;
    background-image: url(/src/images/advantages/cow.png);
    background-repeat: no-repeat;
    background-position: center;
    @include mq(tablet) {
      transform: translateX(16px);
    }
    @include mq(desktop) {
      transform: translateX(25px);
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 36px 36px;
      background-image: url(/src/images/advantages/cow@2x.png);
    }
  }

  &__indi--weight::before {
    content: '';
    transform: translateX(23px);
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    background-color: $accent-color;
    background-image: url(/src/images/advantages/weight.png);
    background-repeat: no-repeat;
    background-position: center;
    @include mq(tablet) {
      transform: translateX(37px);
    }
    @include mq(desktop) {
      transform: translateX(48px);
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 36px 36px;
      background-image: url(/src/images/advantages/weight@2x.png);
    }
  }

  &__indi--cream::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    background-color: $accent-color;
    background-image: url(/src/images/advantages/ice-crema.png);
    background-repeat: no-repeat;
    background-position: center;
    @include mq(tablet) {
      transform: translateX(10px);
    }
    @include mq(desktop) {
      transform: translateX(15px);
    }
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-size: 36px 36px;
      background-image: url(/src/images/advantages/ice-crema@2x.png);
    }
  }

  &__text {
    margin-top: 22px;

    text-align: center;
    font-family: $main-fon;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    color: $white-text-color;
    @include mq(phone-only) {
      padding: 0 50px;
    }
    @include mq(tablet) {
      font-weight: 400;
      font-size: 14px;
      line-height: 174%;
    }
    @include mq(desktop) {
      font-size: 16px;
      line-height: 176%;
    }
  }
}
