//   CONTACTS

.contact {
  background-color: $primary-bg-color;
  font-weight: 500;
  font-size: 12px;
  @include mq(tablet) {
    font-size: 14px;
  }
  @include mq(desktop) {
    font-size: 16px;
  }

  &__container {
    padding-bottom: 10px;
  }

  &__lists {
    margin-bottom: -331px;
    transform: translateY(-353px);
    @include mq(tablet) {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-bottom: -259px;
      transform: translateY(-299px);
    }
    @include mq(desktop) {
      gap: 32px;
      margin-bottom: -68px;
      transform: translateY(-128px);
    }
  }

  &__representation {
    display: inline-block;
    border-radius: 4px;
    background-color: $accent-color;
    padding: 4px 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
    @include mq(tablet) {
      padding: 4px 13px;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 36px;
    }
    @include mq(desktop) {
      padding: 4px 14px;
    }
  }

  &__wrapper {
    padding-bottom: 23px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 23px;
    @include mq(tablet) {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  &__branch {
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    @include mq(tablet-only) {
      margin-bottom: 12px;
    }
  }

  &__days {
    line-height: 1.86;
  }

  &__time {
    line-height: 1.86;
    color: $gray-text-color;
  }

  &__schedule {
    margin-bottom: 8px;
    @include mq(desktop) {
      margin-bottom: 12px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 6px;
    @include mq(tablet) {
      margin-bottom: 4px;
    }
  }

  &__items {
    display: block;
    width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: $focus-color;
    border-radius: 24px;
    padding: 42px 32px 22px 32px;
    box-shadow: $shadow;
    @include mq(phone-only) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    @include mq(tablet) {
      width: 224px;
      height: auto;
      padding: 40px 24px 40px 24px;
      margin: 0;
    }
    @include mq(desktop) {
      width: 368px;
      height: auto;
      padding: 40px 40px 40px 40px;
    }
  }

  &__location {
    display: block;
    width: 220px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: $third-cards-color;
    transition: underline 300ms $timing-function;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-shadow: $shadow;
    }
    @include mq(tablet) {
      width: 170px;
    }
    @include mq(desktop) {
      width: 290px;
    }
  }

  &__link {
    line-height: 1.6;
    transition: underline 300ms $timing-function;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-shadow: $shadow;
    }
    @include mq(tablet) {
      line-height: 1.5;
    }
  }
}

//   CONTACTS BUTTONS

.contact {
  &__buttons {
    @include mq(tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__map,
  &__franchise {
    min-width: 196px;
    font-family: inherit;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: inherit;
    display: block;
    @include mq(phone-only) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__map {
    padding: 12px 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms $timing-function,
      color 300ms $timing-function;
    &:hover {
      background-color: $hover-color;
    }
    &:focus {
      background-color: $hover-color;
      color: $focus-color;
    }
    @include mq(phone-only) {
      margin-bottom: 16px;
    }
    @include mq(tablet) {
      margin-right: 16px;
    }
  }

  &__franchise {
    padding: 12px 55px;
    background-color: $primary-bg-color;
    border: 2px solid $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 300ms $timing-function,
      color 300ms $timing-function;
    &:hover {
      border-color: $hover-color;
      background-color: $primary-bg-color;
    }
    &:focus {
      border-color: $hover-color;
      color: $focus-color;
      background-color: $primary-bg-color;
    }
  }

  &__icon {
    margin-left: 4px;
  }

  &__franchise:focus .contact__icon {
    fill: currentColor;
  }

  &__map:focus .contact__icon {
    fill: currentColor;
  }
}
