a {
    text-decoration: none;
    color: currentColor;
  }
  
  ul,
  li,
  p,
  h2 {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family: "Montserrat";
    color: $primary-text-color;
  }
//   CONTACTS
  
  .contact {
    background-color: $primary-bg-color;
    font-weight: 500;
    font-size: 12px;
  }
  .contact__lists {
    // transform: translateY(-353px);
    margin-bottom: 22px;
  }
  .contact__items {
    display: block;
    width: 280px;
    height: 412px;
    background-color: $focus-color;
    border-radius: 24px;
    padding: 42px 32px 22px 32px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
  .contact__items:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .contast__representation {
    display: inline-block;
    border-radius: 4px;
    background-color: $accent-color;
    padding: 4px 22px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }
  
  .contact__wrapper {
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 24px;
  }
  
  .contact__branch {
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
  
  .contact__location {
    display: block;
    width: 180px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: $third-cards-color;
  }
  .contact__days {
    line-height: 1.86;
  }
  
  .contact__time {
    line-height: 1.86;
    color: $gray-text-color;
  }
  
  .contact__schedule {
    margin-bottom: 8px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 6px;
  }
  
  .contact__link {
    line-height: 1.6;
  }
  
//   CONTACTS BUTTONS 
  
  .contact__map {
    width: 196px;
    height: 42px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18 / 14);
    text-align: center;
    color: inherit;
    background-color: #f8d24e;
    border-radius: 10px;
    border: none;
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .contact__map:hover {
    background-color: $hover-color;
  }
  .contact__map:focus {
    background-color: $hover-color;
    color: $focus-color;
  }
  
//   TABLET 
  
  @media screen and (min-width: 768px) {
    .contact {
      font-size: 14px;
    }
  
    .contact__lists {
      display: flex;
      gap: 16px;
    //   transform: translateY(-299px);
    }
  
    .contact__items {
      width: 224px;
      height: 537px;
      padding: 40px 24px 40px 24px;
      margin-bottom: 0;
    }
  
    .contast__representation {
      padding: 4px 13px;
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 36px;
    }
    .contact__location {
      width: 150px;
    }
  
    .contact__wrapper {
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
  
    .contact__branch {
      margin-bottom: 12px;
    }
    .contact__item:not(:last-child) {
      margin-bottom: 4px;
    }
  
    .contact__link {
      line-height: 1.5;
    }
  
    // CONTACTS BUTTONS
    .contact__buttons {
      display: flex;
    }
  
    .contact__map {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
  
//   DECKTOP
  @media screen and (min-width: 1200px) {
    .contact {
      font-size: 16px;
    }
  
    .contact__lists {
      gap: 32px;
    //  transform: translateY(-128px);
    }
    .contact__items {
      width: 368px;
      height: 542px;
      padding: 40px 40px 40px 40px;
    }
  
    .contast__representation {
      padding: 4px 14px;
    }
    .contact__location {
      width: 250px;
    }
  
    .contact__branch {
      margin-bottom: 8px;
    }
  .contact__schedule {
    margin-bottom: 12px;
  }
   
  
    // CONTACTS BUTTONS 
    .contact__buttons {
      display: flex;
    }
  
    .contact__map {
      margin-right: 16px;
      margin-bottom: 0;
    }
  }
  