.footer {
  background-color: $primary-bg-color;
  padding-top: 50px;
  padding-bottom: 20px;

  @include mq(tablet) {
    padding-top: 30px;
    padding-bottom: 12px;
  }

  @include mq(desktop) {
    padding-top: 110px;
  }

&__branch {
  position: relative;
}

&__branch-img {
  display: block;
  position: absolute;
  left: -20px;
  width: 110px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @include mq(tablet) {
    top: -40px;
    left: 250px;
    width: 200px;
  }

  @include mq(desktop) {
    top: -55px;
    left: 480px;
    width: 350px;
  }
}
&__branch-img--second{
  position: absolute;
  display: block;
  top: 0;
  left: 80px;
  width: 110px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  
  @include mq(tablet) {
      display: none;
    }
}
&__branch-img--third {
  position: absolute;
  display: block;
  top: 0;
  left: 183px;
  width: 110px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @include mq(tablet) {
    display: none;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
  &__line {
    margin-top: 40px;
    margin-bottom: 20px;
    color: $border-color;

    width: 100vw;
    transform: translateX(-50%);
    position: relative;
    left: 50%;

    @include mq(tablet) {
      margin-top: 32px;
      margin-bottom: 12px;
    }

    @include mq(desktop) {
      margin-top: 60px;
      width: 100%;
    }
  }

  &__rights {
    font-size: 14px;
    color: $copyright-color;
    max-width: 150px;

    margin: auto;

    @include mq(tablet) {
      max-width: 298px;
    }

    @include mq(desktop) {
      font-size: 12px;
    }
  }

  &__title {
    display: block;
    color: $white-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    padding-left: 2px;
    max-width: 232px;

    @include mq(tablet) {
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.04em;

      max-width: 352px;
    }

    @include mq(desktop) {
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      max-width: 510px;
    }
  }

  &__subject {
    display: block;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    margin-top: 16px;
    max-width: 200px;

    color: $white-text-color;

    @include mq(tablet) {
      margin-top: 8px;

      font-size: 48px;
      line-height: 59px;
      letter-spacing: 0.06em;

      max-width: 352px;
    }

    @include mq(desktop) {
      margin-top: 14px;

      font-weight: 700;
      font-size: 58px;
      line-height: 71px;

      max-width: 510px;
    }
  }
}

.thumb {
  @include mq(tablet) {
    display: inline-block;
  }

  &--contact {
    @include mq(tablet) {
      display: inline-block;
      float: right;
    }
  }
}

.join {
  display: flex;
  justify-content: right;

  margin-top: 60px;
  @include mq(desktop) {
    margin-top: 18px;
  }

  &__list {
    display: flex;
    gap: 20px;

    @include mq(tablet) {
      gap: 30px;
    }
  }
  &__link {
    &:hover .join__icon,
    &:focus .join__icon {
      fill: $white-text-color;
    }
  }
  &__icon {
    fill: $primary-bg-color;
  }
}

.footer-contact {
  display: flex;
  justify-content: right;

  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 34px;
  }

  &__text {
    font-weight: 700;
    margin-right: 4px;

    @include mq(desktop) {
      font-size: 16px;
    }
  }

  &__tel {
    font-weight: 700;
    color: $white-text-color;

    @include mq(desktop) {
      font-size: 16px;
    }
  }
}
