.footer {
  background-color: $primary-bg-color;
  padding-top: 60px;
  padding-bottom: 20px;

  @include mq(tablet) {
    padding-top: 40px;
    padding-bottom: 12px;
  }

  @include mq(desktop) {
    padding-top: 120px;
  }
}

.footer-title {
  color: $white-text-color;

  padding-left: 2px;
  max-width: 232px;

  @include mq(tablet) {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;

    max-width: 352px;
  }

  @include mq(desktop) {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    max-width: 510px;
  }
}

.footer-subject {
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;

  margin-top: 16px;
  max-width: 200px;

  color: $white-text-color;

  @include mq(tablet) {
    margin-top: 8px;

    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;

    max-width: 352px;
  }
  @include mq(desktop) {
    margin-top: 14px;

    font-weight: 700;
    font-size: 58px;
    line-height: 71px;

    max-width: 510px;
  }
}

.thumb {
  @include mq(tablet) {
    display: inline-block;
  }

  &--contact {
    @include mq(tablet) {
      display: inline-block;
      float: right;
    }
  }
}

.join-social {
  display: flex;
  justify-content: right;

  margin-top: 60px;
  @include mq(desktop) {
    margin-top: 18px;
  }
}

.icon-list {
  display: flex;
  gap: 20px;
  @include mq(tablet) {
    gap: 30px;
  }
}

.footer-contact {
  display: flex;
  justify-content: right;

  margin-top: 20px;
  @include mq(tablet) {
    margin-top: 34px;
  }

  &__text {
    font-weight: 700;
    margin-right: 4px;

    @include mq(desktop) {
      font-size: 16px;
    }
  }

  &__tel {
    font-weight: 700;
    color: $white-text-color;

    @include mq(desktop) {
      font-size: 16px;
    }
  }
}

.footer-line {
  margin-top: 40px;
  margin-bottom: 20px;

  width: 100vw;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  @include mq(tablet) {
    margin-top: 32px;
    margin-bottom: 12px;
  }
  @include mq(desktop) {
    margin-top: 60px;
  }
}

.footer-rights {
  font-size: 14px;
  color: $copyright-color;
  max-width: 150px;

  margin: auto;
  @include mq(tablet) {
    max-width: 298px;
  }
  @include mq(desktop) {
    font-size: 12px;
  }
}
