
.gallery {
    width: 420px;
    height: auto;
    margin: 0 auto;
    
    @include mq(tablet){
        width: 704px;
        height: 327px;
    }

    @include mq(desktop){
        width: 1013px;
        height: 422px;
        background-image: url(/src/images/gallery/gallery1_desk_@1x.jpg);
        animation-name: changeImages;
        animation-duration: 8000ms;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        overflow: hidden;
        border-radius: 18px;
        transform: translateY(-32px);
    }

&__item {
  border-radius: 18px;
  transform: translateY(-32px);
  overflow: hidden;

  @include mq(desktop) {
    visibility: hidden;
  }
}

&__image {
    display: block;
    max-width: 100%;
    height: auto;  
  }
}
@keyframes changeImages {
  0% {
    background-image: url(/src/images/gallery/gallery1_desk_@1x.jpg);
  }

  50% {
    background-image: url(/src/images/gallery/gallery2_desk_@1x.jpg);
  }

  100% {
    background-image: url(/src/images/gallery/gallery3_desk_@1x.jpg);
  }
}