.gallery {
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-bottom: -32px;

  @include mq(tablet) {
    width: 704px;
    height: 327px;
    margin-bottom: -144px;
  }

  @include mq(desktop) {
    width: 1013px;
    height: 422px;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: -98px;
    transform: translateY(-98px);
    background-image: url(/src/images/gallery/gallery1_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: changeImages 20s linear 3s infinite alternate;
  }

  &__wrap {
    border-radius: 8px;
    box-shadow: $shadow;
    transform: translateY(-32px);
    overflow: hidden;

    @include mq(tablet) {
      transform: translateY(-144px);
      border-radius: 18px;
    }

    @include mq(desktop) {
      visibility: hidden;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@keyframes changeImages {
  0% {
    background-image: url(/src/images/gallery/gallery1_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  25% {
    background-image: url(/src/images/gallery/gallery5_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  50% {
    background-image: url(/src/images/gallery/gallery3_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  75% {
    background-image: url(/src/images/gallery/gallery2_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    background-image: url(/src/images/gallery/gallery4_desk_@1x.jpg);
    box-shadow: $shadow;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
